<%- include("partials/header") -%>
<h1>About</h1>
<br >
<p style="font-size:2rem;"><%=aboutcon%></p>
<br><br>
<ul class="ulfont">
  <li>
    GLUGOT (pronounced as gloo-gawt) stands for GNU/Linux User Group of
    Thiagarajar College of Engineering, Madurai and is the Free Software platform of the
    college.
  </li>
  <br>
  <li>
    GLUGOT sprang into life on 20th December 2003. Its primary focus is to promote Free
    Software and the spirit of cooperation among TCE students and the free software community
  </li>
  <br>
<li>
  The GNU/Linux User Group(GLUG) of Madurai is a community of GNU/Linux users
  and promoters of Free and Open Source Software.

</li>
<br >
<li>
  GLUG was founded in January 2001 and was formerly called "The Madurai LUG". This
  group has people from all walks of life - academicians, students, industrialists, hobbyists,
  professionals etc..
</li>

</ul>
<%- include("partials/footer") -%>
