<%-include('partials/header')-%>
<body style="background: radial-gradient(circle at 10% 20%, rgb(255, 229, 168) 0%, rgb(251, 174, 222) 100.7%);">
  <h1 style="font-family: 'Dancing Script',cursive; font-weight: bolder;"><%=posttitle%></h1>
  <p style="font-family: 'Pacifico', cursive; font-size: 2rem;"><%=postpara%></p>
</body>

<%- include('partials/footer') -%>
